* {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
}


        /* Top Navigation Bar */


.top-bar-gridbox {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.top-nav-box {
    grid-column: 2 / 3;
}

.logo {
    float: left;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;
    padding-left: 0.5rem;
}

.nav-btn {
    margin-left: 4rem;
}

.nav-top {
    float: right;
    padding-top: 2rem;
    padding-bottom: 1.3rem;
}

.nav-top a {
    text-decoration: none;
    color: #999da2;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}


        /* Main Content */


.wrapper {
    grid-column: 2 / 3;
}

.grid-container {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 3fr 1fr;
}


    /*image*/

.phone-image {
    grid-area: right;
}

.phone-image img {
    max-height: 540px;
    max-width: 100%;
}


    /*text*/

.main-text {
    grid-area: left;
    margin-right: 115px;
    font-size: 16px;
    color: #999da2;
    line-height: 1.8rem;
}

.main-text h1 {
    text-transform: uppercase;
    font-size: 56px;
    color: #ff366a;
    font-weight: 700;
    line-height: 56px;
}

.first-paragraph {
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-paragraph {
    padding-bottom: 50px;
}

.bold {
    font-weight: bolder;
}


    /*four buttons*/


.btn-gridbox {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.btn {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    text-align: center;
    display: table;
    background-image: url(images/bg_a.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;   
}

.btn-gridbox div a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #ff366a;
    line-height: 1rem;
    background-image: url(images/bg_a.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.btn-gridbox div a strong {
    font-size: 30px;
    font-weight: 700;
}

.btn-gridbox div a p {
    font-size: 0.9rem;
}

.image-buttons {
    width: 60px;
    background-image: url(images/bg_li.gif);
    background-repeat: no-repeat;
    background-position: center;
}


        /* Footer Content */


.footer-bar-gridbox {
    grid-column: 1 / 4;
    
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;

    border-top: 1px solid #ebebeb;
    margin-top: 4rem;
}

.footer-box {
    grid-column: 2 / 3;

    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.copyright {
    float: left;
}

.copyright p {
    color: #999da2;
}

.social-media-buttons {
    float: right;
}

.social-button {
    margin-left: 2rem;
}






        /* MEDIA QUERIES */


        

        
        
            /*first media query*/

        @media only screen and (min-width: 720px) and (max-width: 1200px) {
            /*for larger devices*/
         
        body {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }

        .top-bar-gridbox {
            grid-template-columns: 1fr auto 1fr;
        }


        /*nav*/

        .top-nav-box {
            grid-column: 1 /4;
            padding-right: 15px;
            padding-left: 15px;
        }

        .phone-image {
            padding-right: 15px;
        }

        /*main - text*/

        .main-text {
            padding-left: 15px;
        }

        .main-text h1 {
            font-size: 45px;
        }

        /*four buttons*/


        .btn {
            height: 100px;
            width: 100px;
            background-image: none;
        }

        .btn-gridbox div a {
            background-image: none;
        }

        .btn-gridbox div a strong {
            font-size: 25px;
        }

        .btn-gridbox div a p {
            font-size: 0.7rem;
        }


        /* Footer Content */

        .footer-bar-gridbox {
            grid-template-columns: 1fr auto 1fr;
        }

        .footer-box {
            grid-column: 1/4;
            padding-right: 15px;
            padding-left: 15px;
        }

        }



        /*second media query*/




        
        @media only screen and  (max-width: 719.9px) {
            /*for tablets*/
        
        /*navigation top*/
        
        body {              
            display: grid;
            grid-template-columns: 1fr;
        }
    
        .top-bar-gridbox {
            grid-template-columns: none;
            margin-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;   
        }
    
        .top-nav-box {
            grid-column: unset;
        }
    
        .logo {
            float: none;
        }
    
        .nav-top {
            padding: 10px 0px;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            float: none;
            border-top: 1px solid #ebebeb;
        }
    
        .nav-top a {
            padding: 8px 0px;
            margin: auto;
        }
    

        /*main content*/
    
        .wrapper {
            
            grid-column: 1 / 2;        
        }
    
        .grid-container {
            grid-template-columns: unset;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            'text'
            'img';
        }
        

        /*main - img*/

        .phone-image {
            grid-area: img;
            text-align: center;
        }
    
        .phone-image img {
            height: 560px;
            width: auto;  
        }

        /*main - text*/

        .main-text {
            grid-area: text;
            box-sizing: border-box;
            width: 100%;
            margin: 0;    
        }
    
        .main-text h1 {
            padding: 0px 30px;
            font-size: 26px;
            line-height: 32px;
        }

        .first-paragraph {
            padding: 15px 30px;
        }

        .second-paragraph {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 20px;
        }

        /*main - buttons*/

        .btn-gridbox {
            display: grid;
            grid-template-columns: 90px 30px 90px 30px 90px 30px 90px;
            max-width: 500px;
            margin: auto;
            padding-bottom: 20px;
            justify-content: center;
        }
    
        .btn  {
            height: 90px;
            width: 90px;
            text-align: center;
            display: table;
        }

        .btn-gridbox div a strong {
            font-size: 25px;
        }
        
        .btn-gridbox div a p {
            font-size: 0.7rem;
        }

        .btn-gridbox div a {
            background-image: unset;
        }
    
        .image-buttons {
            width: 30px;
            background-image: url(images/bg_li2.gif);
            background-repeat: no-repeat;
            background-position: center;
        }
        
    
        /*footer*/
    
        .footer-bar-gridbox {
            grid-template-columns: none;
            margin-top: 80px;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }
    
        .footer-box {
            grid-column: unset;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 0;
        }
    
        .copyright {
            float: none;
        }
    
        .social-media-buttons {
            float: none;
            margin-top: 20px;
        }
    } 
        
        
            /*third media query*/
        
        
        
        
        
        @media only screen and (max-width: 480px) {
            /*for phones*/
            

            /*navigation top*/
        
            body {              
                display: grid;
                grid-template-columns: 1fr;
            }
        
            .top-bar-gridbox {
                display: grid;
                grid-template-columns: none;
                margin-bottom: 20px;
                padding-left: 15px;
                padding-right: 15px;   
            }
        
            .top-nav-box {
                grid-column: unset;
            }
        
            .logo {
                padding-right: 0;
                float: none;
            }
        
            .nav-top {
                padding: 10px 0px;
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                float: none;
                border-top: 1px solid #ebebeb;
            }
        
            .nav-top a {
                padding: 8px 0px;
                margin: auto;
            }
        

            /*main content*/
        
            .wrapper {
                
                grid-column: 1 / 2;        
            }
        
            .grid-container {
                grid-template-columns: unset;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                'text'
                'img';
            }
        
            .phone-image {
                grid-area: img;
                text-align: center;
            }
        
            .phone-image img {
                margin-top: 20px;
                height: 560px;
                width: auto;
            }

            .main-text {
                grid-area: text;
                box-sizing: border-box;
                width: 100%;
                margin: 0;
            }
        
            .main-text h1 {
                padding: 0px 30px;
                font-size: 26px;
                line-height: 32px;
            }

            .first-paragraph {
                padding: 15px 30px;
            }

            .second-paragraph {
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 20px;
            }

            .btn-gridbox {
                display: grid;
                grid-template-columns: 70px 15px 70px 15px 70px 15px 70px;
                max-width: 330px;
                margin: auto;
                padding-bottom: 20px;
            }
        
            .btn  {
                border: 1px solid #e0e0e0;
                border-radius: 50%;
                height: 70px;
                width: 70px;
                text-align: center;
                display: table;
                
            }

            .btn-gridbox div a strong {
                font-size: 20px;
                font-weight: 700;
            }
            
            .btn-gridbox div a p {
                font-size: 0.7rem;
            }

            .btn-gridbox div a {
                background-image: unset;
            }
        
            .image-buttons {                      
                width: 15px;
            }
            
        
            /*footer*/
        
            .footer-bar-gridbox {
                grid-template-columns: none;
                margin-top: 40px;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
            }
        
            .footer-box {
                grid-column: unset;
                text-align: center;
                padding-top: 30px;
                padding-bottom: 0;
            }
        
            .copyright {
                float: none;
            }
        
            .social-media-buttons {
                float: none;
                margin-top: 20px;
            }
        }