* {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
}


        /* Top Navigation Bar */


.top-bar-gridbox {
    grid-column: 1 / 4;
    
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;

    border-bottom: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.top-nav-box {
    grid-column: 2 / 3
}

.logo {
    float: left;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;
    padding-left: 0.5rem;
}

.nav-btn {
    margin-left: 4rem;
}

.nav-top {
    float: right;
    padding-top: 2rem;
    padding-bottom: 1.3rem;
}

.nav-top a {
    text-decoration: none;
    color: #999da2;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}


        /* Main Content */


.wrapper {
    grid-column: 2 / 3;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


    /*image*/

.phone-image {
    grid-column: 1 / 2;
}

.phone-image img {
    max-width: 100%;
}


    /*text*/

.main-text {
    grid-column: 2 / 3;
    padding-left: 120px;
}

.main-text h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: #999da2;
    font-weight: 400;
}

.main-text h1 {
    text-transform: uppercase;
    font-size: 56px;
    color: #ff366a;
    font-weight: 700;
    line-height: 56px;
    
}

.paragraph {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    color: #999da2;
    line-height: 1.8rem;
}


    /*list*/

li {
    border-top: 1px solid #ebebeb;
    padding-bottom: 12px;
    padding-top: 12px;
    list-style: none;
}

li h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #ff366a;
    margin-bottom: 2px;
}

li p {
    font-size: 14px;
    color: #999da2;
}

.listitem5 {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 70px;
}


   /*icons in list*/

.listitem1 {
    background-image: url(images/icon_tags.png);
    background-repeat: no-repeat;
    background-position: left;
}

.listitem2 {
    background-image: url(images/icon_cost.png);
    background-repeat: no-repeat;
    background-position: left;
}

.listitem3 {
    background-image: url(images/icon_safety.png);
    background-repeat: no-repeat;
    background-position: left;
}

.listitem4 {
    background-image: url(images/icon_award.png);
    background-repeat: no-repeat;
    background-position: left;
}

.listitem5 {
    background-image: url(images/icon_chat.png);
    background-repeat: no-repeat;
    background-position: left;
}

.list h4,
.list p {
    margin-left: 70px;
}


    /*download button*/       

.download-box {
    display: block;
    width: 236px;
    height: 50px;
    background-color: #ff366a;
    padding: 17px;
    border-radius: 8px;
}


.download-box:hover {
    opacity: 0.75;
}


.download-box a {
    background-image: url(images/icon_iphon_small.png);
    background-repeat: no-repeat;
    background-position: left;
    text-decoration: none;
    display: block;
	padding: 0 0 11px 79px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 29px;
	text-decoration: none;
}


.download-box a span {
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #8e2641;
}


        /* Footer Content */


.footer-bar-gridbox {
    grid-column: 1 / 4;
    
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;

    border-top: 1px solid #ebebeb;
    margin-top: 4rem;
}


.footer-box {
    grid-column: 2 / 3;

    padding-top: 3rem;
    padding-bottom: 2.5rem;
}


.copyright {
    float: left;
}


.copyright p {
    color: #999da2;
}


.social-media-buttons {
    float: right;
}


.social-button {
    margin-left: 2rem;
}